<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
    <button onclick="window.history.back()">Back</button><br>
<h3> Associate an Assistant with apointments </h3>
    
    <form id="add_assist_appts" action="/appt_assist" method="post">
    Assistant: <select name='aid'>
        {{#each assistants}}
          <option value='{{aid}}'>{{assist_name}}</option>
        {{/each}}
    </select>
    <br>
    

    Appointment:<sup>Multi-select</sup> <select multiple name="appts">
        {{#each appointments}}
        <option value="{{apid}}">{{apid}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>


<br/>
<h3> List of assistants with assigned appointments </h3>
<table>
    <thead>
        <th>Assistant Name</th>
        <th>Appointment ID</th>
    </thead>
    <tbody>
        {{#each assistant_with_appts}}
        <tr>
            <td>{{name}}</td>
            <td>{{apid}}</td>
            <td><button onclick="deleteAssistAppt({{apid}},{{aid}})">Delete</button></td>
        </tr>
        {{else}}
        <b> Assistant not assigned to appointments! Grant some using the form. </b>
        {{/each}}

    </tbody>
</table>
<input type=button onClick="parent.location.href='http://flip2.engr.oregonstate.edu:9999/'" value='Main Page'>

</html>
