<html>
{{#each foo}}
{{this}}
{{/each}}

<button onclick="window.history.back()">Back</button><br>

<h3>Add new appointment</h3>
<form id="addappt" action="/appts" method="post">
    Appointment Date: <input type="date" name="appt_date"><br>
    Patient: <select name="patient"> 
        {{#each patients}}
        <option value="{{id}}">{{patient_name}}</option>
        {{/each}}
    </select><br>
    Doctor: <select name="doctor"> 
        {{#each doctors}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
   Assistants: <select name="assist"> 
        {{#each assistants}}
        <option value="{{id}}">{{assist_name}}</option>
        {{/each}}
    </select><br>
    
    Appointment Reason <input type="text" name="appt_reason"><br>
    Appointment Result <input type="text" name="appt_result"><br>
    Next Appointment Date <input type="date" name="next_appt_date"><br>
    Bill ID  <input type="number" name="bill_id"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<h3> Filter by doctor </h3>
<form id='filter_appts' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    
    <select id='doctor_filter' name="doctor">
        {{#each doctors}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <input type="button" value="Filter" onclick="filterApptsByDoctor()">
</form>
<br>
<h3>Search appointments by date:</h3>
<form id='search_appts' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <input id='dateSearch_date' type='date' name='dateSearch_date' value=''>
    <input type="button" value="Search" onclick="searchApptsByDate()">
</form><br>

<h3>Current appointments:</h3>
<table>
    <thead>
        <th>Appointment Date</th>
        <th>Patient ID</th>
        <th>Doctor</th>
        <th>Assistant ID</th>
        <th>Appointment Reason</th>
        <th>Appointment Result</th>
        <th>Next Appointment Date</th>
        <th>Bill ID</th>
    </thead>
    <tbody>
        {{#each appts}}
        <tr>
            <td>{{appt_date}}</td>
            <td>{{patient}}</td>
            <td>{{doctor}}</td>
            <td>{{assist}}</td>
            <td>{{appt_reason}}</td>
            <td>{{appt_result}}</td>
            <td>{{next_appt_date}}</td>
            <td>{{bill_id}}</td>
            <td><button onclick="deleteAppt({{id}})">Delete</button></td>
            <td><a href="/appts/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<input type=button onClick="parent.location.href='http://flip2.engr.oregonstate.edu:9999/'" value='Main Page'>
</html>
