<html>
{{#each foo}}
{{this}}
{{/each}}

<button onclick="window.history.back()">Back</button><br>

<h3>Add new appointment</h3>
<form id="addappt" action="/appts" method="post">
    Appointment Date: <input type="date" name="appt_date"><br>
    Patient: <input type="number" name="patient_id"><br>
    Doctor: <select name="doctor"> 
        {{#each doctors}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Assistant: <input type="number" name="assist_id"><br>
    Appointment Reason <input type="text" name="appt_reason"><br>
    Appointment Result <input type="text" name="appt_result"><br>
    Next Appointment Date <input type="date" name="next_appt_date"><br>
    Bill ID  <input type="number" name="bill_id"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by doctor </label>
    <select id='doctor_filter' name="doctor_id">
        {{#each appts}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterApptsByDoctor()">
</form>

<h3>Current appointments:</h3>
<table>
    <thead>
        <th>Appointment Date</th>
        <th>Patient ID</th>
        <th>Doctor</th>
        <th>Assistant ID</th>
        <th>Appointment Reason</th>
        <th>Appointment Result</th>
        <th>Next Appointment Date</th>
        <th>Bill ID</th>
    </thead>
    <tbody>
        {{#each appts}}
        <tr>
            <td>{{appt_date}}</td>
            <td>{{patient}}</td>
            <td>{{doctor}}</td>
            <td>{{assist}}</td>
            <td>{{appt_reason}}</td>
            <td>{{appt_result}}</td>
            <td>{{next_appt_date}}</td>
            <td>{{bill_id}}</td>
            <td><button onclick="deleteAppt({{id}})">Delete</button></td>
            <td><a href="/appts/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
