<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new dental assistant:</h3>
<form id="addassistant" action="/assistants" method="post">
    Name: <input type="text" name="name"><br>
    Position: <input type="text" name="position"><br>
    Extension: <input type="number" name="extension"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<h3>Dental Assistants in the database:</h3>
<table>
    <thead>
        <th>Assistant ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Extension</th>

    </thead>
    <tbody>
      {{#each assistants}}
        <tr>
          <td>{{assist_id}}</td>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{extension}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
</html>
