<html>
{{#each foo}}
{{this}}
{{/each}}
<button onclick="window.history.back()">Back</button><br>

<h3>Add new dental assistant:</h3>
<form id="addassistant" action="/assistants" method="post">
    Name: <input type="text" name="assist_name"><br>
    Assigned Doctor <select name="position"> 
        {{#each doctors}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select></br>
    Extension: <input type="number" name="assist_extension"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<h3>Dental Assistants in the database:</h3>
<table>
    <thead>
        <th>Assistant ID</th>
        <th>Name</th>
        <th>Assigned Doctor</th>
        <th>Extension</th>
    </thead>
    <tbody>
      {{#each assistants}}
        <tr>
          <td>{{assist_id}}</td>
          <td>{{assist_name}}</td>
          <td>{{position}}</td>
          <td>{{assist_extension}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
<br>
<input type=button onClick="parent.location.href='http://flip2.engr.oregonstate.edu:9999/'" value='Main Page'>
</html>
