<html>
{{#each foo}}
{{this}}
{{/each}}
<button onclick="window.history.back()">Back</button><br>
<h3>Add new patient bill information:</h3>
<form id="addbill" action="/bills" method="post">

    Patient: <select name="bill_patient"> 
        {{#each patients}}
        <option value="{{id}}">{{patient_name}}</option>
        {{/each}}
    </select><br>
    Appointment Date: <input type="date" name="date"><br>
    Total Cost: <input type="number" name="total_cost"><br>
    Payment Type: <input type="text" name="payment_type"><br>
    Bill Due: <input type="date" name="bill_due"><br>
    Status: <input type="text" name="status"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<h3>Patient bills in the database:</h3>
<table>
    <thead>
        <th>Bill ID</th>
        <th>Patient Name</th>
        <th>Appointment Date</th>
        <th>Total Cost</th>
        <th>Payment Type</th>
        <th>Bill Due</th>
        <th>Status</th>

    </thead>
    <tbody>
      {{#each bills}}
        <tr>
          <td>{{id}}</td>
          <td>{{bill_patient}}</td>
          <td>{{date}}</td>
          <td>{{total_cost}}</td>
          <td>{{payment_type}}</td>
          <td>{{bill_due}}</td>
          <td>{{status}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
</html>
