<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new doctor:</h3>
<form id="adddoctor" action="/doctors" method="post">
    Name: <input type="text" name="name"><br>
    Specialty: <input type="text" name="specialty"><br>
    Extension: <input type="number" name="extension"><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<br/>

<h3>Doctors in the database:</h3>
<table>
    <thead>
        <th>Doctor ID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>Extension</th>

    </thead>
    <tbody>
      {{#each doctors}}
        <tr>
          <td>{{doctor_id}}</td>
          <td>{{name}}</td>
          <td>{{specialty}}</td>
          <td>{{extension}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
</html>
