<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new planet:</h3>
<form id="addplanet" action="/planets" method="post">
    Name: <input type="text" name="name"><br>
    Population: <input type="number" name="population"><br>
    Language: <input type="text" name="language"><br>
    Capital: <input type="text" name="capital"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Planets in the database:</h3>
<table>
    <thead> 
        <th>Planet ID</th> 
        <th>Name</th> 
        <th>Population</th>
        <th>Language</th>
        <th>Capital</th>

    </thead> 
    <tbody>
      {{#each planets}}
        <tr>
          <td>{{planet_id}}</td>
          <td>{{name}}</td>
          <td>{{population}}</td>
          <td>{{language}}</td>
          <td>{{capital}}</td>
        </tr>
      {{/each}}
    </tbody> 
</table> 
</html>





