<html>
<h1>Update {{appt.patient_id}}</h1>
<form id="update-appt" action="/appts" method="post">
    Patient ID: <input type="text" name="patient_id" value="{{appt.patient_id}}"><br>
    Doctor: <input type="text" name="doctor_id" value="{{appt.doctor_id}}"><br><br>
</form>
<button onclick="updateAppt({{appt.id}})">Update</button>
<script defer>selectAppt({{appt.doctor_id}});</script>
</html>
