<html>
<h1>Update {{appt.name}}</h1>
<form id="update-appt" action="/appts" method="post">
    Name: <input type="text" name="name" value="{{appt.name}}"><br>
    Doctor: <select name="doctor" id="doctor-selector"> 
        {{#each appts}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateAppt({{appt.id}})">Update</button>
<script defer>selectAppt({{appt.doctor}});</script>
</html>
